# Default ignored files
/idea/*
# Datasource local storage ignored files
/../../../../../../:\Users\43530\IdeaProjects\maple-base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/*
*.class
*.iml